* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  user-select: none;
  background-color: aqua;
}
.popup__container {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.popup {
  width: 300px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 217, 0);
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
}
.popup span {
  align-self: flex-end;
  font-size: 3rem;
  transition: color 400ms;
}
.popup span:hover {
  color: red;
  cursor: pointer;
}
.content__container {
  width: 300px;
  height: 100vh;
  margin-top: 100px;
  text-align: center;
}
h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}
h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}
p {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(255, 217, 0);
  transition: background-color 400ms;
}
button:hover {
  background-color: rgb(255, 211, 129);
}
.footer__info {
  width: 100vw;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  align-self: flex-end;
}
.footer__info a {
  color: white;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer__info a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer__info span {
  color: red;
  margin-inline-start: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}